// Colour Variables

$colour-primary : #55c57a;
$colour-primary-light : #7ed56f ;
$colour-primary-dark: #28b485;
$colour-grey-dark: #777;
$colour-white: #fff;



/* Basic Reset */

*, *::after, *::before{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
/* Set the root font size in the html tag then use rem in other tags */
html{
	/* Default browser fontsize is 16px 
	but we want ours to be 10px so we say 10px/16px x 100% */
	font-size: 62.5%;
}
body{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	/* font-size: 16px; */
	line-height: 1.7;
	color: $colour-grey-dark;
	padding: 3rem;
	box-sizing: border-box;
}

.header{
	height: 95vh;
	background-image: linear-gradient(to right bottom, rgba($colour-primary-light, 0.8),rgba($colour-primary-dark, 0.8) ), url('../img/hero.jpg');
	background-size: cover;
	background-position: top;
	/* Clip-path is used to cut out part of the header */
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;
}
/*Positioning the Logo  */
.header__logo-box{
	position: absolute;
	top: 4rem;
	left: 4rem;
}

.header__logo{
	height: 3.5rem;
}
/* Ceneetering elements in the text-box div */
 .header__text-box{
 	position: absolute;
 	top: 40%;
 	left:  50%;
 	transform: translate(-50%, -50%);
 	text-align: center;
 }
.heading-primary{
	color: $colour-white;
	text-transform: uppercase;
	/* Prevent shaky animation of children elements */
	backface-visibility: hidden;
	margin-bottom: 6rem;

}

.heading-primary--main{
	display: block;
	font-size: 6rem;
	font-weight: 400;
	letter-spacing: 3.5rem;


	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	/* Iterate animation for some time */
	/* animation-iteration-count: 3; */
	/* delay animation for some seconds */
	/* animation-delay: 3s; */
}

.heading-primary--sub{
	display: block;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 1.7rem;
	animation: moveInRight 1s ease-out;
	/* animation-name: moveInRight;
	animation-duration: 1s;
	animation-timing-function: ease-out; */
}

/* Creating Animation for the Header texts*/

@keyframes moveInLeft{
	/* Position and behaviour */
	0%{
		opacity: 0;
		transform: translateX(-10rem)
	}

	80%{
		transform: translateX(1rem)
	}

	100%{
		opacity: 1;
		transform: translate(0)
	}

}

@keyframes moveInRight{
	/* Position and behaviour */
	0%{
		opacity: 0;
		transform: translateX(10rem)
	}

	80%{
		transform: translateX(-1rem)
	}

	100%{
		opacity: 1;
		transform: translate(0)
	}

}

@keyframes moveInBottom{
	/* Position and behaviour */
	0%{
		opacity: 0;
		transform: translateY(3rem)
	}

	

	100%{
		opacity: 1;
		transform: translate(0)
	}

}
/* Styling the link button on the header */
.btn:link,
.btn:visited{
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 10rem;
	/* add transition for .btn as this is its initail state */
	transition: all .2s;
	position: relative;
	font-size: 1.6rem;
}
.btn:hover{
	/* button behaviour on hover */
	transform: translateY(-3px);
	/* box shadow on hover x y direction, blur , rgba shadow */
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
.btn:active{
	/* button behaviour on clicking it */
	transform: translateY(-1px);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);

}
.btn--white{
	background-color: $colour-white;
	color: $colour-grey-dark;
}
/* create a pseudo button */
.btn::after{

	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 10rem;
	/* hide it behind to the button */
	position: absolute;
	top: 0;
	left: 0;

	z-index: -1;
	/* transition for btn:hover::after on this as its initial state; */
	transition: all .4s;
}

.btn--white::after{
	background-color: $colour-white;
}
.btn:hover::after{
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn--animated{
	/* animation name, animation duration
	 animation timing funtion animation delay  */
	animation: moveInBottom .5s ease-out .75s;
	/* apply animation of 0% before it starts */
	animation-fill-mode: backwards;

}