/* Basic Reset */

*, *::after, *::before{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	
}
/* Set the root font size in the html tag then use rem in other tags */
html{
	/* Default browser fontsize is 16px 
	but we want ours to be 10px so we say 10px/16px x 100% */
	font-size: 62.5%;

	// Adding Responsiveness for Desktop first
	//Always put larger queries before smaller ones
	

	@include respond(tab-land) {
		font-size: 56.25%; // 1rem = 9px, 9/16px
	}

	@include respond(tab-port) {
		font-size: 50%; // 1rem = 8px, 8/16px%, 
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12px , 12/16px
	}


	
}
body{
	
	box-sizing: border-box;
	padding: 3rem;
	//Media query on body
	@include respond(tab-port) {
		// Remove padding at this view port
		padding: 0;
	}
}


//Sequence of adding responsiveness using media queries
//Abstracts-base-layout(grid)-