/* Basic Reset */

*, *::after, *::before{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
/* Set the root font size in the html tag then use rem in other tags */
html{
	/* Default browser fontsize is 16px 
	but we want ours to be 10px so we say 10px/16px x 100% */
	font-size: 62.5%;

	// Adding Responsiveness
	//Always put larger queries before smaller ones
	

	@include respond(tab-land) {
		font-size: 56.25%; // 1rem = 9px, 9/16px
	}

	@include respond(tab-port) {
		font-size: 50%; // 1rem = 8px, 8/16px%, 
	}

	@include respond(phone) {
		font-size: 30%; // 1rem = 4.8px, 4.8/16px%, 
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12px , 12/16px
	}
}
body{
	
	box-sizing: border-box;
}
